
@import 'variables';

.faq{
    width : 80%;
    margin-top: 40px;
    font-family : 'Titillium Web', cursive;

    h2{
        // text-decoration: underline;
        // text-decoration-color: $primary;
        padding-bottom: 10px;
        border-bottom: 3px dashed $primary;
    }

    p{
       padding-top: 20px;
       padding-bottom: 20px;
       font-size : 1.1em;
       color: #888888;
   }

   a {
       color : #404040;
       &:hover{
           color : $primary;
           text-decoration : none;
       }
   }
}
