
<div class="dmenu">
  <a class="btn btn-primary" href="php/csv.php" target="_blank">Fichier source CSV</a>
  <a class="btn btn-primary" href="phpmyadmin" target="_blank" charset="utf-8">Fichier requêtes phpmyadmin</a>
  <form method="get">
    <ul>
      <li>
        <a href="?request=palmer">Tous les gens dont le nom est Palmer</a>
      </li>
      <li>
        <a href="?request=women">Toutes les femmes</a>
      </li>
      <li>
        <a href="?request=states">Tous les états qui commencent par N</a>
      </li>
      <li>
        <a href="?request=emails">Tous les emails qui contiennent google</a>
      </li>
      <li>
        <a href="?request=repartition">Répartition par état et le nombre d’enregistrement par état (croissant)</a>
      </li>
      <li>
        <a href="?request=gender">Nombre de femmes et d’hommes</a>
      </li>
      <li>
        <a href="?request=average">Âge de chaque personne, puis la moyenne d’âge des femmes et des hommes</a>
      </li>
      <li>
        <a href="?request=students">Nom de chaque apprenant avec son département de résidence</a>
      </li>
    </ul>
  </form>
</div>
