
{% extends "layouts/base.html" %}

{% block css %}
{{ baseUrl('assets/css/listing.css') }}
{% endblock %}

{% block content %}
<div class="row">
  <center>
    <h4>Les dernières créations</h4>
    <h6>Cliquer sur une image pour la partager</h6>
  </center>
    {% for meme in data %}
    <div class="col s12 m6 l4">
      <a target="_blank" href="{{ baseUrl('uploads/') }}{{ meme.path }}.jpg"><img width="95%" height="95%" src="{{ baseUrl('uploads/') }}{{ meme.path }}.jpg" alt=""></a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
{{ baseUrl('assets/js/listing.js') }}
{% endblock %}
