
{% extends "layouts/base.html" %}

{% block css %}
{{ baseUrl('assets/css/listing.css') }}
{% endblock %}

{% block content %}
<div class="row">
    {% for meme in data %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <a target="_blank" href="{{ baseUrl('uploads/') }}{{ meme.path }}.jpg"><img width="95%" height="95%" src="{{ baseUrl('uploads/') }}{{ meme.path }}.jpg" alt=""></a>
            </div>
            <div class="card-action">
                <div class="center">
                    <p>Partager</p>
                
                    <a class="mt-facebook mt-share-inline-square-bw-sm" href="https://www.facebook.com/sharer/sharer.php?u={{ baseUrl('media/')}}{{ memememe }}.jpg" target="_blank">
                        <img src="http://mojotech-static.s3.amazonaws.com/facebook@2x.png">
                    </a>
                    <a class="mt-twitter mt-share-inline-square-bw-sm" href="http://twitter.com/intent/tweet?text=&amp;url={{ baseUrl('media/')}}{{ memememe }}.jpg" target="_blank">
                        <img src="http://mojotech-static.s3.amazonaws.com/twitter@2x.png">
                    </a> 
                    <a class="mt-google mt-share-inline-square-bw-sm" href="https://plus.google.com/share?url={{ baseUrl('media/')}}{{ memememe }}.jpg"  target="_blank">
                        <img src="http://mojotech-static.s3.amazonaws.com/google@2x.png">
                    </a>
                    <a class="mt-pinterest mt-share-inline-square-bw-sm" href="http://www.pinterest.com/pin/create/button/?url={{ baseUrl('media/')}}{{ memememe }}.jpg&amp;media=&amp;guid=1234&amp;description=" target="_blank">
                        <img src="http://mojotech-static.s3.amazonaws.com/pinterest@2x.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
{{ baseUrl('assets/js/listing.js') }}
{% endblock %}
