
{% extends 'base.html.twig' %}

{% block content %}
    <div class="container faq">
        <h2>C’est quoi Cryptomap ?</h2>
        <p><strong>Cryptomap</strong> est un projet développé dans le cadre de la formation <a href="http://www.accesscodeschool.fr/" target="_blank">Access Code School</a>, qui a pour but de proposer une source d’informations fiables sur les moyens d’acheter et de dépenser des bitcoins.
        <br>
        L’équipe de développement est composée de 4 personnes : <a href="https://github.com/rasha84" target="_blank">rasha84</a>, <a href="https://github.com/Do0oV" target="_blank">Do0oV</a>, <a href="https://github.com/psaulay" target="_blank">psaulay</a> et <a href="https://github.com/knorjador" target="_blank">knorjador</a>.</p>
        <h2>C’est quoi le bitcoin ?</h2>
        <p><strong>Bitcoin</strong> (de l'anglais bit : unité d'information binaire et coin « pièce de monnaie ») est une monnaie virtuelle cryptographique autrement appelée <strong>cryptomonnaie</strong>.
        On écrit bitcoin dans le cas de l’unité qu’on va échanger et Bitcoin dans le cas du protocole qui permet cet échange.
        L’idée est proposée en 2008 par un pseudonyme : Satoshi Nakamoto. Le 3 janvier 2009, le protocole est lancé et n’a jamais arrêté de fonctionner depuis.
        <h2>Où acheter du bitcoin ?</h2>
        <p>Tout va dépendre du moyen de paiement que vous souhaitez utiliser :<br><br>
        -<strong> en cash : </strong> Référez-vous à notre carte qui localise les distributeurs automatiques de bitcoins (ATM) et les vendeurs (particuliers ou professionnels) qui acceptent l’échange euro/bitcoin en liquide.<br><br>
        -<strong> virement bancaire ou carte bleue : </strong> nous vous conseillons de vous orienter vers le site <a href="https://www.coinbase.com/join/59214a25fb353e5c6636ac63" target="_blank">www.coinbase.com</a>.<br>
        Ce lien vous permettra d'être crédité de 10$ supplémentaire pour 100$ déposé et nous offrira également 10$ pour continuer d’améliorer le site et les données fournies.</p>
        <h2>Où dépenser mes bitcoins ?</h2>
        <p>Notre site vous permet de localiser les points où vous allez pouvoir dépenser vos bitcoins.<br>
        N’hésitez pas à nous contacter pour nous signaler si une information n’est pas à jour.</p>
        <h2>Comment stocker mes bitcoins ?</h2>
        <p>Un des moyens simple et sécurisé est d’utiliser un hardware wallet, c’est à dire un appareil conçu spécifiquement pour stocker de la cryptomonnaie.
        Nous vous conseillons le site <a href="https://www.ledgerwallet.com/r/41aa" target="_blank">www.ledgerwallet.com</a>.<br>
        Vous pouvez aussi opter pour une application smartphone <a href="https://coinomi.com/" target="_blank">Coinomi</a>  ou le logiciel <a href="https://www.exodus.io/" target="_blank">Exodius</a> disponible pour Windows, Mac et Linux.</p>


        <h2>Comment nous contacter ?</h2>
        <p>************************</p>
    </div>
{% endblock %}
