
{# {% if flashbag.has('alert') %}
    {% set alert = flashbag.get('alert') %}
    <div class="alert alert-{{ alert['type'] }}" role="alert">
        {{ alert['msg'] }}
    </div>
{% endif %} #}

<div class="alert alert-{{ type }}" role="alert">
    {{ msg }}
</div>
