<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MyEasyTransfer</title>
    </head>
    <body>
        <section class="container">
            <article class="row">
                <h4> My Easy Transfer </h4>
                <p>Vous pouvez consulter ce liens pour télécharger le fichier !</p>
                <br>
                <a href="{{ url('files/') }}{{ id }}">{{ url('files/') }}{{ id }}</a>
            </article>
        </section>
    </body>
</html>






