<nav>
    <div class="nav-wrapper">
        <a class="entreprise" href="{{ url('') }}">MyEasyTransfer</a>
        <a href="#" class="brand-logo right"><img src="{{ url('assets/img/logo.png') }}" alt=""></a>
    </div>
</nav>