
/**** **** **** **** **** **** **** ****
 > COMMON
 **** **** **** **** **** **** **** ****/

 .reveal .h2, .reveal .h3 {
   margin: 0
 }

.reveal .h3 {
  margin-bottom: 32px;
  word-spacing: 16px
}

.reveal section .i128 {
  width: 128px;
  height: 128px;
  margin: 0;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, .4)
}

 .reveal section .i164 {
   display: block;
   width: 164px;
   height: 164px;
   box-shadow: 0 0 6px 2px rgba(0, 0, 0, .4)
 }

 .reveal section .irounded {
   border: none;
   border-radius: 50%
 }

 .reveal section img {
   margin: 0;
   border: none;
   box-shadow: none;
   background: none;
 }

 .reveal pre {
   width: 90%;
   margin: 0 0 16px 0
 }

 .reveal pre code {
   max-height: 16384px
 }

 .underline {
   box-shadow: inset 0 0px 0 transparent, inset 0 -8px 0 #00D1A0;
 }

 .hunderline {
   box-shadow: inset 0 8px 4px rgba(0, 0, 0, .1), inset 0 -16px 4px rgba(0, 0, 0, .2);
 }

 .subject {
   z-index: 8;
   display: none;
   position: absolute;
   width: 256px;
   height: 128px;
   top: 24px;
   left: 24px;
   text-align: center
 }

 .subject > h4 {
   margin: 0;
   font-size: 1.4rem;
   color: #3d3d3d
 }

 .di-subject {
   width: 100%
 }

 .i-subject {
   position: absolute;
   width: 96px;
   left: 70px
 }

.reveal .el-font {
   font-family: 'Black Han Sans', cursive;
 }

 .p-color {
   color: #888888
 }

/**** **** **** **** **** **** **** ****
 > WELCOME
**** **** **** **** **** **** **** ****/


/**** **** **** **** **** **** **** ****
  > GOALS
**** **** **** **** **** **** **** ****/

#hgoal {
  margin-bottom: 64px
}

.reveal .pgoal {
  text-align: left;
  font-size: 2rem;
  color: #2d2d2d
}

.pgoal > strong {
  box-shadow: inset 0 0px 0 transparent, inset 0 -8px 0 #00D1A0;
  color: #800085
}

.reveal .sgoal {
  font-size: 2rem;
  font-weight: bold;
  color: #003738
}

.reveal .dgoal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}

/**** **** **** **** **** **** **** ****
 > HOW IT WORKS
**** **** **** **** **** **** **** ****/

.tools {
  display: flex;
  flex-direction: row;
}

.tools > div {
  width: 50%
}

.reveal .hhiw {
  margin: 0 0 8px 0
}

.reveal .p-templating {
  font-size: 1.4rem
}

.reveal .s-templating {
  box-shadow: inset 0 0px 0 transparent, inset 0 -8px 0 #00D1A0;
  color: #800085
}

.reveal .pre-near {
  margin: 0 0 16px 0
}

.reveal .p-scalability {
  margin: 0 0 8px 0
}

.reveal .h-long {
  font-size: 2rem
}


/**** **** **** **** **** **** **** ****
  > SLIDE GET & POST
**** **** **** **** **** **** **** ****/

.get .dmethod, .post .dmethod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px
}

.get .pdesc, .post .pdesc {
  margin-bottom: 32px;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #4d4d4d
}

.get > p > a {
  font-size: 1rem;
  font-weight: bold;
  color: #005C50
}

.get > p > a:hover {
  cursor: default;
  color: #f8f8f8
}

.post .dinspector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.post .dinspector > h4 {
  margin: 0;
  color: #f8f8f8
}

.post .dinspector .ullinks > li > a {
  margin-left: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #005C50
}

.post .dinspector .ullinks > li > a:hover {
  cursor: default;
  color: #f8f8f8
}

.reveal .ulsettings, .reveal .ullinks {
  display: block;
  margin: 0
}

.ulsettings > li, .ullinks > li  {
  list-style-type:none;
  padding: 0px 16px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  background: #00D1A0;
}

.reveal .get > img, .reveal .post > img {
  border: none;
  box-shadow: none;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, .4);
  background: none;
}

.reveal .post > .png {
  width: 632px;
  margin-top: 48px;
  box-shadow: none;
}

.reveal .get > h4, .reveal .post > h4 {
  word-spacing: 16px;
  color: #f8f8f8
}

.reveal .daddress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.reveal .dside {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px 0 8px 0
}

.reveal .dside > span {
  margin-right: 16px;
  font-size: 1.4rem;
  font-weight: bold;
}

.reveal .dside > p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f8f8f8
}

.reveal .php > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8f8f8
}

.get .surl, .get .sside, .post .surl, .post .sside {
  font-size: 1.7rem;
  background: #005C50;
  font-weight: bold;
  color: #f8f8f8;
}

.get .surl, .post .surl {
  padding: 1.5px 8px;
}

.get .sside, .post .sside {
  padding: 2px 8px;
  border-radius: 4px;
}

.post .dmethod > ul > li {
  text-decoration: line-through
}

/**** **** **** **** **** **** **** ****
  > REMEMBER
**** **** **** **** **** **** **** ****/

#remember > h4 {
  margin-bottom: 24px;
  font-size: 3.5rem
}

.reveal .d-remember {
  display: flex;
  justify-content: center;
  margin-top: 24px
}

.reveal .li-remember {
  margin: 16px;
  font-size: 1.7rem;
  color: #888888
}

/**** **** **** **** **** **** **** ****
  > SOURCES
**** **** **** **** **** **** **** ****/

#sources > h4 {
  margin-bottom: 32px;
  font-size: 3.5rem
}

#sources > h6 {
  margin-bottom: 24px;
  font-size: 2rem
}

#sources > img {
  margin-bottom: 32px
}

.reveal .ulsources {
  display: block;
  margin-bottom: 32px
}

.ulsources > li  {
  font-size: 1.7rem;
  font-weight: bold;
  color: #00D1A0
}

.ulsources > li > a {
  margin: 0 0 24px 0;
  font-size: 1.4rem;
  color: #b8b8b8
}

.ulsources > li > a:hover {
  color: #a4a4a4
}

.ulsources > li > a > small {
  padding: 12px 0 0 16px
}
