
html {
  line-height: 0;
}

.nav-wrapper > ul > li > a{
  font-size: 20px;
}

.container {
  width: 85%;
}

.row .col {
  padding: 0
}

.creation {
  position: relative;
}

.memememe-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .4), inset -2px -2px 4px rgba(0, 0, 0, .4);
}

.dlisting {
  margin: 24px 0;
  font-family: monospace;
  font-weight: bold;
  color: #4d4d4d
}

.d-listing > h6 {
  /* margin-bottom: 24px; */
}

.hcreation {

}

@media screen and (max-width: 990px){
  nav > .container{
    width: 100%;
}
  .disappear{
    display: none;
  }

}

@media screen and (min-width: 990px){
  #mobile-demo{
    display:none;
  }

  .sidenav-overlay{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: -9;
  }
}