
a.mt-share-inline-square-bw-sm img {
  width: 34px;
  height: 34px;
}

.mt-twitter:hover {
  background-color: rgb(0, 172, 238);
}

.mt-facebook:hover {
  background-color: rgb(59, 89, 152);
}
.mt-pinterest:hover {
  background-color: rgb(221, 42, 48);
}

.mt-google:hover {
  background-color: rgb(225, 95, 79);
}

a.mt-share-inline-square-bw-sm {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 2px;
  margin-right: 4px;
  text-align: center;
  background-color: rgb(51, 51, 51);
  transition: background-color 300ms ease-in 0s;
}

.resize {
  margin-top: 48px;
  width: 45%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.59), -2px -2px 5px rgba(0, 0, 0, 0.59);
}

.container {
  width: 85%;
}

.nav-wrapper > ul > li > a{
  font-size: 20px;
}

.plink {
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: #4d4d4d
}

.alink {
  color: #4a148c;
}
    font-size: 20px;
}


@media screen and (max-width: 984px){
    nav > .container{
        width: 100%;
    }
    .disappear{
        display: none;
    }


}
