
RewriteEngine On

AddDefaultCharset UTF-8

#compression
AddOutputFilterByType DEFLATE text/text application/xml application/xhtml+xml text/html text/javascript text/css text/plain

#ErrorDocument 404 404.php

# if file/folder does not exist do below
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^list/(images|gifs)$ index.php?list=$1 [L]
RewriteRule ^create/(image|gif)$ index.php?create=$1 [L]

RewriteRule ^media/(.*)$ index.php?memememe=$1 [L]
RewriteRule ^media/(.*)$ uploads/$1 [L]
