nav{
    background-color: $newBlack;
}
.brand-logo {
    margin-right: 300px;
}
.entreprise{
    color: $newWhite;
    margin-left: 200px;
    font-size: 2em;
    font-family:sans-serif;
}
img{
    height: 100px;
    margin-top: -20px;
}
