<!DOCTYPE html>
<html lang="en">
  <head>
    {% block metas %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <link rel="stylesheet" href="{{ url('assets/css/main.css') }}">
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% include "partials/navbar.html.twig" %}

    <div class="container">
      {% include "partials/flashbag.html.twig" %}
      {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
