{% extends 'base.html.twig' %}

{% block title %}My Easy Transfer - Files{% endblock %}

{% block content %}

<div class="row">
  <h2>Files Content</h2>
</div>

{% endblock %}

{% block javascripts %}
  <script src="{{ url('assets/js/files.js') }}"></script>
{% endblock %}
