
{% extends 'base.html.twig' %}

{% block title %}My Easy Transfer - Home{% endblock %}

{% block content %}

<div class="row">
    <h1>WELCOME</h1>
    <form class="col s12 m6 l6">
        <div class="row">
            <div class="dchoose">
                <input class="ifiles" type="file" id="ifiles" name="files[]" multiple>
                <label for="ifiles" class="lfiles"></label>
            </div>
            <!--    SPINNER MATERIALIZE     -->
            <!--
<div class="preloader-wrapper big active">
<div class="spinner-layer spinner-blue-only">
<div class="circle-clipper left">
<div class="circle">
</div>
</div>
<div class="gap-patch">
<div class="circle">
</div>
</div>
<div class="circle-clipper right">
<div class="circle">
</div>
</div>
</div>
</div>
-->
            <!--    SPINNER MATERIALIZE END     -->
        </div>
        <div class="row">
            <div class="input-field">
                <input id="receiver" type="email" placeholder="Email Receiver" class="validate">
                <label for="receiver"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="sender" type="email" placeholder="Your Email" class="validate">
                <label for="sender"></label>
            </div>
        </div>
        <p>
            <label>
                <input type="checkbox" />
                <span>I want a copy</span>
            </label>
        </p>
        <div class="row">
            <div>
                <button type="submit" id="submit" class="btn btn-2">Send</a>
            </div>
        </div>
    </form>
    <div class="col s12 m6 l6 liste">
        <div class="dfiles"></div>
    </div>



</div>


{% endblock %}
