
{% extends 'base.html.twig' %}

{% block title %}My Easy Transfer - Home{% endblock %}

{% block content %}

<div class="row">
    <h1>WELCOME</h1>
    <form class="col s6">
        <div class="row">
            <h3>Add your files</h3>
            <div class="input-field dchoose">
                <input class="ifiles" type="file" id="ifiles" name="files[]" multiple>
                <label for="ifiles" class="lfiles"></label>                
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="receiver" type="email" placeholder="Email Receiver" class="validate">
                <label for="receiver"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input id="sender" type="email" placeholder="Your Email" class="validate">
                <label for="sender"></label>
            </div>
        </div>
        <p>
            <label>
                <input type="checkbox" />
                <span>I want a copy</span>
            </label>
        </p>
        <div class="row">
            <div class="">
                <button type="submit" id="submit" class="btn btn-2">Send</a> 
            </div>
        </div>
    </form>
    <div class="dfiles"></div>
</div>

{% endblock %}
