
{% extends 'base.html.twig' %}

{% block title %}My Easy Transfer - Result{% endblock %}

{% block content %}

<div class="row">
  <h2>Result Content</h2>
</div>

{% endblock %}

{% block javascripts %}
  <script src="{{ url('assets/js/result.js') }}"></script>
{% endblock %}
